.card {
    width: 1080px; 
    height: 540px; 
    border: 1px solid #ccc;
    margin: 20px auto; padding: 0px;
    background-repeat: no-repeat;
    background-position: right 0;
    display: flex;
}
.right, .wrong {
    position: relative;
}
.right:before, .wrong:before{
    content: '';
    display: block;
    position: absolute;
    top: 1em;
    left: 0;
    height: 22px;
    width: 22px;
}
.right:before {
    background: url("./img/icons/right.svg") no-repeat;
}
.wrong:before {
    background: url("./img/icons/wrong.svg") no-repeat;
}
.score {
    width: 1080px;
    margin: 10px auto;
}
/* .card {
    display: flex;
    margin: 40px 20px;
} */
.buttons {
    display: flex;
}

.answer {
    position: relative;
    margin-left: 1em;
    padding: 1em;
}

.radio {
    padding: 1em;
}
/* .img {
    height: 200px;
    min-width: 400px;
    width: 50%;
    background: #ddd;
} */
object { width: 26px; height: 26px; }
td.icon { width: 26px; }